
@model List<WebBanSach.Book>
@{
    ViewBag.Title = "TrangQuanLySach";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container collapse navbar-collapse d-flex alert alert-primary">
        <ul class="navbar-nav">
            <li class="nav-item">
                <h6><a class="nav-link active" href="/Home/TrangSachKinhDi">Kinh dị</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link active" href="/Home/TrangSachTieuThuyet">Tiểu thuyết</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link active" href="/Home/TrangSachTrinhTham">Trinh thám</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link active" href="/Home/TrangSachNgonTinh">Ngôn tình</a></h6>
            </li>
        </ul>
    </div>
</nav>

<div class="container" role="alert" id="divInfo">
    <form action="/Home/TimKiemAdmin" method="post" style="width: 100%">
        <div class="form-group form-row mt-4">
            <b><label class="col">Tìm kiếm</label></b>
            <input type="text" value="@ViewBag.value" class="form-control col" placeholder="Tìm kiếm" name="chuoi" />

        </div>
    </form>
    <form action="/Home/TrangThemSach" method="get">
        <div class="form-group form-row justify-content-end">
            <button type="submit" class="btn btn-primary mb-3" style="width:160px">Thêm sách mới</button>

        </div>
    </form>
    <div class="form-group form-row justify-content-end">
        <button id="btnQuanly" class="btn btn-primary mb-3" style="width:160px">Quản lý đơn hàng</button>
    </div>
    <div class="row" >
        @foreach (var book in Model)
        {
            <div class="col-4 mb-5">
                <div class="book-image">
                    <img src="@book.Images" alt="" width=300px height=350px />
                </div>
                <div class="book-name mt-3">
                    <a href="/Home/TrangSuaSach/@book.ID_Book"><h5>@book.Name</h5></a>
                </div>
                <div class="book-author">
                    Tác giả:
                    @book.Author
                </div>
                <div class="book-releasedate">
                    Ngày phát hành:
                    @book.Release_Date.Value.ToString("yyyy-MM-dd")
                </div>
                <div class="book-amount">
                    Số lượng:
                    @book.Amount
                </div>
                <div class="book-discription">
                    Mô tả:
                    @book.Discription
                </div>
                <div class="book-agelimit">
                    Tuổi giới hạn:
                    @book.Age_Limit
                </div>
                <div class="book-price">
                    Giá:
                    @book.Price.Value.ToString("#,##")
                    VND
                </div>
                <div>
                    <form action="/Home/XoaSach/@book.ID_Book" method="post">
                        <button type="submit" class="btn btn-block ml-5">
                            <img src="~/Images/Xoa.jpg" alt="" height="30" />
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $('#btnQuanly').click(function () {
        $.ajax({
            type: 'POST',
            data: {},
            url: '@Url.Action("DaDat","QuanLy")',
            success: function (ketqua) {
                $('body').html(ketqua);
                x = document.querySelector('#navbarNav').classList.add('hide');
            }
        })
    })
</script>
<style>
    .hide{
        opacity:0;
    }
</style>