
@model WebBanSach.ViewModels.ThemSachViewModel

@{
    ViewBag.Title = "TrangThemSach";
}


<div class="container d-flex flex-column align-items-center" role="alert">
    <h2 class="mt-5 mb-4">THÊM SÁCH MỚI</h2>
    <form action="/Home/TrangThemSach" method="post" style="width:500px">
        <div class="form-group form-row">
            <label>Tên sách</label>
            <input type="text" value="" placeholder="Tên sách" class="form-control" name="Name"/>
        </div>
        <div class="form-group form-row">
            <label>Hình ảnh</label>
            <input type="text" value="" placeholder="Link ảnh sách" class="form-control" name="Images"/>
        </div>
        <div class="form-group form-row">
            <label>Tên tác giả</label>
            <input type="text" value="" placeholder="Tên tác giả" class="form-control" name="Author"/>
        </div>
        <div class="form-group form-row">
            <label>Ngày phát hành</label>
            <input type="date" value="" placeholder="Ngày phát hành" class="form-control" name="Release_Date"/>
        </div>
        <div class="form-group form-row">
            <label>Nhập số lượng sách</label>
            <input type="text" value="" placeholder="Nhập số lượng sách" class="form-control" name="Amount"/>
        </div>
        <div class="form-group form-row">
            <label>Mô tả</label>
            <textarea rows="3" placeholder="Mô tả" class="form-control" name="Discription"></textarea>
        </div>
        <div class="form-group form-row">
            <label>Tuổi giới hạn</label>
            <input type="text" value="" placeholder="Tuổi giới hạn" class="form-control" name="Age_Limit"/>
        </div>
        <div class="form-group form-row">
            <label>Giá</label>
            <input type="text" value="" placeholder="Giá" class="form-control" name="Price"/>
        </div>
        <div class="form-group form-row">
            <label>Thể loại</label>
            <select class="form-control" name="ID_Genre">
                @foreach(var item in Model.Genres)
                {
                    <option value="@item.ID_Genre">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group form-row">
            <label>Nhà sản xuất</label>
            <select class="form-control" name="ID_Publisher">
                @foreach(var item in Model.Publishers)
                {
                    <option value="@item.ID_Publisher">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group form-row">
            <label>Nhà cung cấp</label>
            <select class="form-control" name="ID_Provider">
                @foreach(var item in Model.Providers)
                {
                    <option value="@item.ID_Provider">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group form-row">
            <a href="/Home/TrangQuanLySach">Hủy</a>
            <button type="submit" class="btn btn-primary ml-auto" style="width:150px">Thêm sách</button>
        </div>
    </form>
</div>