<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    @Html.Action("GioHangPartial", "Order")
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse d-flex" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <div class="ml-lg-5">
                        <a href="/Home/DangKy" class="mr-5">Đăng ký</a>
                        <a href="/Home/DangNhap">Đăng nhập</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>